@charset "UTF-8";
a,
.anchor {
    text-decoration: none;
    color: $fontDark;
    transition: $anchorTransitionTimeAndEasingOut;
    border-bottom: 1px solid $turquoiseDark;
    &:hover {
        transition: $anchorTransitionTimeAndEasingIn;
        color: $turquoiseDark;
    }
}