@charset "UTF-8";
a,
.anchor {
    text-decoration: none;
    color: $fontLight;
    transition: $anchorTransitionTimeAndEasingOut;
    &:hover {
        transition: $anchorTransitionTimeAndEasingIn;
        color: $turquoiseDark;
    }
}