@charset "UTF-8";

.button,
button {
    @include reset-button;
    display: inline-flex;
    align-items: center;
    color: $fontLight;
    &:link,
    &:visited,
    &:active {
        color: $fontLight;
    }
    border-radius: $global-radius;
    font: {
        family: $fontFamilyIntros;
        weight: normal;
        size: $fontSizeLarge;
    }
    padding: {
        top: $spaceSmall;
        right: $spaceNormal;
        left: $spaceNormal;
        bottom: $spaceSmall;
    }
    background: {
        color: $turquoise;
    }
    overflow: hidden;
    position: relative;
    &.thin {
        padding: {
            top: $spaceXSmall;
            right: $spaceSmall;
            left: $spaceSmall;
            bottom: $spaceXSmall;
        }
    }
    span {
        position: relative;
        z-index: 2;
        transition: color $anchorTransitionTimeAndEasingOut;
    }
    .icon {
        margin: {
            right: $spaceXSmall;
        }
    }
    &::before {
        @include absolute-stretch();
        z-index: 1;
        transform: translateX(-100%);
        transition: transform $anchorTransitionTimeAndEasingOut;
        display: block;
        content: "";
        background: {
            color: $yellow;
        }
    }
    &:hover {
        &::before {
            transition: transform $anchorTransitionTimeAndEasingIn;
            transform: translateX(0);
        }
        span {
            transition: color $anchorTransitionTimeAndEasingIn;
            color: $turquoiseDark;
        }
    }
    .section-green &,
    &.secondary {
        background: {
            color: $yellow;
        }
        &::before {
            background: {
                color: $turquoise;
            }
        }
        &:hover {
            span {
                color: $fontLight;
            }
        }
    }
}