@charset "UTF-8";

.company-section {
    .text-icon-list {
        @include reset-list();
        li {
            display: flex;
            margin: {
                bottom: $spaceNormal;
            }
            &:last-child {
                margin: {
                    bottom: 0;
                }
            }
            .icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 10%;
                .icon {
                    @include icon(small);
                }
            }
            .text-wrapper {
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                }
            }
        }
    }
}