@charset "UTF-8";

.company-section {
    .text-icon-list {
        @include reset-list();
        li {
            display: flex;
            margin: {
                bottom: $spaceNormal;
            }
            @include breakpoint(large) {
                margin: {
                    bottom: $spaceNormalMobile;
                }
            }
            &:last-child {
                margin: {
                    bottom: 0;
                }
            }
        }
    }
}