@charset "UTF-8";

@font-face {
    font-family: "Bitter";
    font-style: regular;
    font-weight: normal;
    src: url("../fonts/Bitter-VariableFont_wght.ttf") format("truetype"),
}

@font-face {
    font-family: "Balibong";
    font-style: regular;
    font-weight: normal;
    src: url("../fonts/Balibong-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: "Cities Typeface";
    font-style: regular;
    font-weight: normal;
    src: url("../fonts/Cities_Typeface.ttf") format("truetype"),
}

@font-face {
    font-family: "Code Pro Demo";
    font-style: regular;
    font-weight: normal;
    src: url("../fonts/Code Pro Demo.otf") format("truetype"),
}

@font-face {
    font-family: "Between";
    font-style: regular;
    font-weight: normal;
    src: url("../fonts/sansbetween_regular.ttf") format("truetype"),
}