@charset "UTF-8";

footer {
    background-color: $greyDark;
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 125px;
        flex-wrap: wrap;
        @include breakpoint(medium) {
            height: 75px;
        }
        .impressum {
            margin-right: $spaceXSmall;
        }
        @include breakpoint(small only) {
            .flex-item {
                &:nth-child(1) {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 1;
                    width: 100%;
                }
                &:nth-child(3) {
                    order: 3;
                }
            }
        }
        .social-media-list {
            @include reset-list;
            margin-right: auto;
            display: flex;
            @include breakpoint(small only) {
                justify-content: center;
            }
            li {
                margin-right: $spaceXSmall;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    background: none;
                }
                svg {
                    transition: color $anchorTransitionTimeAndEasingOut;
                    height: 35px;
                    width: 35px;
                    color: $fontLight;
                    &:hover {
                        transition: color $anchorTransitionTimeAndEasingIn;
                        color: $turquoise;
                    }
                }
            }
        }
    }
}