@charset "UTF-8";

h1,
h2 {
    margin: {
        top: 0;
        bottom: $spaceSmall;
    }
}

h2 {
    text-align: center;
    position: relative;
    line-height: 1;
    display: block;
    color: $turquoiseLight;
    font: {
        family: $fontFamilyHeading;
        weight: 700;
        size: $fontSizeXXLarge;
    }
}

h3 {
    margin: {
        top: 0;
        bottom: $spaceXSmall;
    }
    line-height: 1;
    display: inline-block;
    color: $fontLight;
    font: {
        family: $fontFamilyHeading;
        weight: 500;
        size: $fontSizeXLarge;
    }
}