@charset "UTF-8";

h1,
h2,
h3 {
    margin: {
        top: 0;
        bottom: $spaceXSmallMobile;
    }
    @include breakpoint(large) {
        margin: {
            bottom: $spaceXSmall;
        }
    }
}

.h1,
h1 {
    position: relative;
    line-height: 1;
    display: block;
    color: $yellow;
    font: {
        family: $fontFamilyHeading;
        weight: 700;
        size: $fontSizeXLarge;
    }
}


.h2,
h2 {
    position: relative;
    line-height: 1;
    display: block;
    color: $turquoise;
    font: {
        size: $fontSizeXLarge;
        weight: 1000;
        family: $fontFamilyIntros;
    }
    .section-green & {
        color: $turquoiseLight;
    }
}

h3 {
    position: relative;
    line-height: 1;
    display: block;
    color: $turquoiseDark;
    font: {
        size: $fontSizeLarge;
        weight: 1000;
        family: $fontFamilyIntros;
    }
    margin: {
        bottom: $spaceXSmallMobile/2;
    }
    @include breakpoint(large) {
        margin: {
            bottom: $spaceXSmall/2;
        }
    }
    .section-green & {
        color: $turquoiseLight;
    }
}