@charset "UTF-8";

.homepage-pillars-section {
    .pillars {
        margin-bottom: rem-calc(20 + $spaceNormalMobile);
        @include breakpoint(large) {
            margin-bottom: rem-calc(20 + $spaceNormal);
        }
    }

    .pillars-list {
        @include reset-list;
        display: flex;
        flex: {
            wrap: wrap;
        }
        margin: rem-calc(-$spaceXSmall);
        .pillars-list-item {
                width: 100%;
            padding: rem-calc($spaceXSmall);
            @include breakpoint(medium) {
                width: 50%;
            }
            @include breakpoint(large) {
                width: 25%;
            }
        }
    }

    .pillar {
        @include box-shadow();
        overflow: hidden;
        border-radius: $global-radius;
        position: relative;
        height: 100%;
        width: 100%;
        background: $turquoiseDark;
        padding: {
            top: $spaceNormal;
            right: $spaceSmallMobile;
            bottom: $spaceSmallMobile;
            left: $spaceSmallMobile;
        }
        @include breakpoint(large) {
            padding: {
                top: $spaceXLarge;
                right: $spaceSmall;
                bottom: $spaceSmall;
                left: $spaceSmall;
            }
        }
        .sub-heading {
            hyphens: auto;
            position: absolute;
            display: block;
            color: $fontLight;
            font: {
                weight: bold;
                style: italic;
            }
            top: $spaceSmallMobile;
            left: $spaceSmallMobile;
            right: $spaceSmallMobile;
            @include breakpoint(large) {
                top: $spaceSmall;
                left: $spaceSmall;
                right: $spaceSmall;
            }
        }
        .image {
            @include aspect-ratio(1, 1);
            width: 50%;
            margin: $spaceXSmall auto;
            height: auto;
            background: {
                size: cover;
                position: 50% 50%;
            }
            opacity: 0.85;
            @include breakpoint(large) {
                width: calc(100% + #{$spaceSmall*6});
                margin: {
                    bottom: $spaceSmall;
                    left: -$spaceSmall*3;
                    right: -$spaceSmall*3;
                }
            }
        }
        .h2 {
            color: $yellow;
        }
        .info-list {
            @include reset-list();
            font-size: $fontSizeNormal;
            color: rgba($fontLight, 0.95);
            margin: 0;
            padding: {
                left: $spaceSmall;
            }
            li {
                position: relative;
                margin: {
                    bottom: $spaceSmallMobile/2;
                }
                @include breakpoint(large) {
                    margin: {
                        bottom: $spaceSmall/2;
                    }
                }
                &:last-child {
                    margin: {
                        bottom: 0;
                    }
                }
                &::before {
                    position: absolute;
                    top: 0;
                    content: "\ea10";
                    font: {
                        family: 'icomoon';
                    }
                    left: -$spaceSmall;
                }
            }
        }
    }
}
