@charset "utf-8";

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    .icon {
        @include icon(small);
        background: {
            size: 80% 80%;
            position: 50% 50%;
            repeat: no-repeat;
        }
    }
}