@charset "UTF-8";

.main-menu {
    z-index: 11111;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 85px;
    background-color: rgba($bgColorDark, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
        @include reset-list;
        display: flex;
        justify-content: flex-end;
        li {
            padding: $spaceSmall;
            .login-button {
                color: $fontLight !important;
                //position: absolute;
                //top: $spaceNormal;
                //right: $spaceNormal;
                z-index: 11111;
                height: 85px;
                width: 85px;
                background: $turquoiseDark;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: background 150ms ease-out;
                &:hover {
                    background: $turquoise;
                }

                .icon {
                    font-size: $fontSizeXLarge;
                }
            }
            a {
                color: #fff !important;
            }
        }
    }

}