@charset "UTF-8";
.pillar-section {
    overflow: hidden;
    left: 20%;
    &:nth-child(even) {
        .image {
            right: 0;
        }
    }
    &:nth-child(odd) {
        .image {
            left: 0;
        }
    }
    .main-wrapper {
        position: relative;
    }
   .image {
       @include aspect-ratio(1, 1);
       z-index: 1;
       background: {
           repeat: no-repeat;
       }
       position: absolute;
       width: 33%;
       top: -$spaceNormal;
       @include breakpoint(medium) {
           top: -$spaceLarge;
       }
       @include breakpoint(large) {
           top: -$spaceLarge*1.5;
       }
   }
    .inner-wrapper {
        z-index: 2;
        position: relative;
    }
}

