@charset "UTF-8";
.pillar-section {
    overflow: hidden;
    left: 20%;
    &:nth-child(odd) {
        .image {
            mix-blend-mode: color-dodge;
            left: 0;
        }
    }
    &:nth-child(even) {
        .inner-wrapper {
        }
        .image {
            opacity: 0.45;
            right: 0;
        }
    }
    .main-wrapper {
        position: relative;
    }
   .image {
       @include aspect-ratio(1, 1);
       z-index: 1;
       background: {
           repeat: no-repeat;
           size: contain;
       }
       position: absolute;
       width: 100%;
       top: -$spaceSmall;
       @include breakpoint(medium) {
           top: -$spaceLarge;
       }
       @include breakpoint(large) {
           width: 20%;
           top: -$spaceNormal;
       }
   }
    .inner-wrapper {
        z-index: 2;
        position: relative;
        @include breakpoint(medium) {
            padding: {
                left: 6.25%;
                right: 6.25%;
            }
        }
        @include breakpoint(large) {
            padding: {
                left: 12.5%;
                right: 12.5%;
            }
        }

    }
}

