@charset "UTF-8";

$z-index: (
    background: 0,
    particleJS: 1,
    bottomShadow: 2,
    content: 3
);


$turquoise: #4d7f7d;
$turquoiseLight: #7baeac;
$turquoiseDark: #1f5251;

$beige: #cfbda5;
$beigeLight: #faf6f2;
$beigeLightDark: #e9e6e2;

$greyDark: #212121;

$yellow: #ddaf1f;
$bgColorDark: $beigeLightDark;
$bgColorLight: $beigeLight;

$fontFamilyIntros: 'Tahoma', sans-serif;
$fontFamilyHeading: 'Tahoma', sans-serif;
$fontFamilyText: 'Tahoma', sans-serif;

$fontSizeNormal: 16px;
$fontSizeLarge: 20px;
$fontSizeXLarge: 30px;

$iconSizeNormal: 40px;
$iconSizeLarge: 60px;

$spaceXSmall: 12px;
$spaceSmall: 25px;
$spaceNormal: 50px;
$spaceLarge: 75px;

$fontDark: #000;
$fontLight: #fff;

$breakpoints: (
    small: 0,
    medium: 468px,
    large: 769px
);

$global-radius: 5px;

$anchorTransitionTimeAndEasingIn: 0.25s ease-out;
$anchorTransitionTimeAndEasingOut: 0.15s ease-out;