@charset "UTF-8";

$z-index: (
    background: 0,
    particleJS: 1,
    bottomShadow: 2,
    content: 3
);


$turquoise: #4d7f7d;
$turquoiseLight: #7baeac;
$turquoiseDark: #1f5251;

$orange: #FF8F00;
$bgColorDark: #212022;
$bgColorLight: #e9e2dd;

$fontFamilyHeading: 'Balibong', sans-serif;
$fontFamilyText: 'Between', sans-serif;

$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeLarge: 20px;
$fontSizeXLarge: 30px;
$fontSizeXXLarge: 40px;

$spaceXSmall: 12px;
$spaceSmall: 25px;
$spaceNormal: 50px;
$spaceLarge: 75px;

$fontDark: #000;
$fontLight: #fff;

$breakpoints: (
    small: 0,
    medium: 468px,
    large: 769px
);

$anchorTransitionTimeAndEasingIn: 0.4s ease-out;
$anchorTransitionTimeAndEasingOut: 0.2s ease-out;