@charset "UTF-8";

.teaser-section {
    .background-image {
        @include absolute-stretch();
        background: {
            position: 0 bottom;
            size: cover;
        }
        filter: grayscale(100%);
        mix-blend-mode: multiply;
        top: -$spaceNormal;
        bottom: -$spaceNormal;
        @include breakpoint(medium) {
            top: -$spaceLarge;
            bottom: -$spaceLarge;
        }
        @include breakpoint(large) {
            top: -$spaceLarge;
            bottom: -$spaceLarge;
        }
        opacity: 0.85;
    }
    .keymessage,
    .intro {
        position: relative;
    }

    .intro {
        margin: {
            bottom: $spaceLargeMobile;
        }
        @include breakpoint(large) {
            margin: {
                bottom: $spaceLarge;
            }
        }
    }
}