@charset "UTF-8";

.team-section {
    &:nth-child(even) {
        .image {
            order: 2;
            margin: {
                right: 0;
                left: $spaceSmallMobile;
                bottom: $spaceSmallMobile;
            }
            @include breakpoint(large) {
                margin: {
                    left: $spaceSmall;
                    bottom: $spaceSmall;
                }
            }
        }
    }
    .team-member {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .image {
            flex: {
                shrink: 0;
            }
            display: block;
            width: 25%;
            margin: {
                right: $spaceSmallMobile;
                bottom: $spaceSmallMobile;
            }
            @include breakpoint(large) {
                margin: {
                    right: $spaceSmall;
                    bottom: $spaceSmall;
                }
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .content {
            max-width: 75%;
        }
        .text {
            text-align: justify;
            margin: {
                bottom: $spaceSmall;
            }
            &:last-child {
                margin: {
                    bottom: 0;
                }
            }
        }
    }
}