@charset "UTF-8";

.team-section {
    .team-member {
        .image {
            float: left;
            display: block;
            width: 25%;
            margin: {
                right: $spaceSmall;
                bottom: $spaceSmall;
            }
        }
        .text {
            text-align: justify;
        }
    }
}