@charset "UTF-8";

.teaser-section {
    .background-image {
        @include absolute-stretch();
        background: {
            position: 0 bottom;
            size: cover;
        }
        top: -$spaceNormal;
        bottom: -$spaceNormal;
        @include breakpoint(medium) {
            top: -$spaceLarge;
            bottom: -$spaceLarge;
        }
        @include breakpoint(large) {
            top: -$spaceLarge;
            bottom: -$spaceLarge;
        }
        opacity: 0.85;
    }
    .keymessage {
        font-size: $fontSizeXXLarge;
        text-align: left;
        margin: {
            right: 0;
            left: 0;
            bottom: $spaceNormal;
        }
        position: relative;
        @include breakpoint(large) {
            margin: {
                bottom: $spaceXLarge;
            }
        }
    }
    .intro {
        margin: {
            bottom: $spaceLargeMobile;
        }
        @include breakpoint(large) {
            margin: {
                bottom: $spaceLarge;
            }
        }
    }
}