@charset "UTF-8";

.testimonials-section {
    //@include breakpoint(small only) {
    //    padding-bottom: $spaceLarge !important;
    //}
    .testimonials {
        position: relative;
    }
    .swiper-slide {
        height: auto;
        transition: opacity 0.5s;
        width: 100%;
        @include breakpoint(large) {
            width: 90%;
        }
        &.three-quarter {
            width: 100%;
            @include breakpoint(medium) {
                width: 85%;
            }
            @include breakpoint(large) {
                width: 70%;
            }
        }
        &.half {
            width: 100%;
            @include breakpoint(medium) {
                width: 65%;
            }
            @include breakpoint(large) {
                width: 50%;
            }
        }
        &.swiper-slide-prev,
        &.swiper-slide-next {
            opacity: 0.45;
        }
    }
    .testimonial {
        border-radius: $global-radius;
        height: 100%;
        background: {
            color: $beigeLight;
        }
        color: $fontDark;
        display: flex;
        flex: {
            direction: column;
        }
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        padding: $spaceSmall;
        @include breakpoint(large) {
            padding: $spaceNormal;
        }
        .top-content {
            margin: {
                bottom: $spaceNormalMobile;
            }
            @include breakpoint(large) {
                margin: {
                    bottom: $spaceNormal;
                }
            }
            .rating-image-wrapper {
                display: flex;
                @include breakpoint(medium down) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
            .rating {
                font: {
                    size: $fontSizeXLarge;
                }
                color: $yellow;
                display: flex;
                align-items: center;
                margin: {
                    bottom: $spaceSmallMobile;
                }
                @include breakpoint(large) {
                    margin: {
                        bottom: $spaceSmall;
                    }
                    width: 50%;
                }
            }
            .image {
                background: {
                    color: $turquoiseLight;
                }
                position: relative;
                overflow: hidden;
                border: {
                    radius: 50%;
                    width: 1px;
                    color: $turquoiseDark;
                    style: solid;
                }
                height: 100px;
                width: 100px;
                margin: {
                    bottom: $spaceXSmallMobile;
                }
                @include breakpoint(large) {
                    transform: translateX(-50%);
                    margin: {
                        bottom: $spaceXSmall;
                    }
                }
                .icon {
                    @include absolute-center;
                    color: $turquoiseDark;
                }
                img {
                    position: relative;
                    width: 100%;
                    height: auto;
                }
            }
            .quote {
                font: {
                    size: $fontSizeNormal;
                }
                .text {
                    display: inline;
                    line-height: 1.6;
                }
            }
        }
        .bottom-content {
            .name {
                font: {
                    size: $fontSizeLarge;
                    weight: 700;
                }
                display: block;
                color: $turquoiseDark;
            }
            .description {
                font: {
                    size: $fontSizeNormal;
                }
                display: block;
                color: $turquoise;
            }
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: $turquoiseLight;
    }
    .swiper-button-prev {
        left: 0;
        transform: translateX(-50%);
        @include breakpoint(large) {
            left: rem-calc(-40);
        }
    }
    .swiper-button-next {
        right: 0;
        transform: translateX(50%);
        @include breakpoint(large) {
            right: rem-calc(-40);
        }
    }
    .swiper-pagination {
        bottom: rem-calc(-50);
        left: 50%;
        transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
        height: 15px;
        width: 15px;
        margin: {
            right: 5px;
        }
        background: $turquoiseLight;
        &:last-child {
            margin-right: 0;
        }
        &.swiper-pagination-bullet-active {
            background: $turquoiseDark;
        }
    }
}