@charset "UTF-8";

.testimonials-section {
    .testimonials {
        position: relative;
    }
    .swiper-slide {
        height: auto;
        width: 90%;
        transition: opacity 0.5s;
        &.three-quarter {
            width: 70%;
        }
        &.half {
            width: 50%;
        }
        &.swiper-slide-prev,
        &.swiper-slide-next {
            opacity: 0.45;
        }
    }
    .testimonial {
        border-radius: $global-radius;
        height: 100%;
        background: {
            color: $beigeLight;
        }
        color: $fontDark;
        padding: $spaceNormal;
        display: flex;
        flex: {
            direction: column;
        }
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        .top-content {
            margin: {
                bottom: $spaceNormal;
            }
            .rating-image-wrapper {
                display: flex;
            }
            .rating {
                font: {
                    size: $fontSizeXLarge;
                }
                color: $yellow;
                width: 50%;
                display: flex;
                align-items: center;
                margin: {
                    bottom: $spaceSmall;
                }
            }
            .image {
                background: {
                    color: $turquoiseLight;
                }
                margin: {
                    bottom: $spaceXSmall;
                }
                position: relative;
                overflow: hidden;
                border: {
                    radius: 50%;
                    width: 1px;
                    color: $turquoiseDark;
                    style: solid;
                }
                height: 100px;
                width: 100px;
                transform: translateX(-50%);
                .icon {
                    @include absolute-center;
                    color: $turquoiseDark;
                }
                img {
                    position: relative;
                    width: 100%;
                    height: auto;
                }
            }
            .quote {
                font: {
                    size: $fontSizeNormal;
                }
                .text {
                    display: inline;
                    line-height: 1.6;
                }
            }
        }
        .bottom-content {
            .name {
                font: {
                    size: $fontSizeLarge;
                    weight: 700;
                }
                display: block;
                color: $turquoiseDark;
            }
            .description {
                font: {
                    size: $fontSizeNormal;
                }
                display: block;
                color: $turquoise;
            }
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: $turquoiseLight;
    }
    .swiper-button-prev {
        left: rem-calc(-40);
    }
    .swiper-button-next {
        right: rem-calc(-40);
    }
    .swiper-pagination {
        bottom: rem-calc(-40);
        left: 50%;
        transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
        height: 15px;
        width: 15px;
        margin: {
            right: 5px;
        }
        background: $turquoiseLight;
        &:last-child {
            margin-right: 0;
        }
        &.swiper-pagination-bullet-active {
            background: $turquoiseDark;
        }
    }
}